# Git
git.username=
git.author=
git.email=
git.password=
github.api.url=https://api.github.com

# Maven
maven.mavenHome=

# Deployment
deployment.repository-prefix=
deployment.password=
deployment.api-key=

# Jira
jira.username=
jira.password=
jira.url=https://jira.spring.io

# GPG
deployment.gpg.keyname=
deployment.gpg.password=
# deployment.gpg.executable=/usr/local/bin/gpg2