antora:
  extensions:
    - '@springio/antora-extensions/partial-build-extension'
    - '@springio/antora-extensions/static-page-extension'
    - require: '@springio/antora-extensions/latest-version-extension'
    - require: '@springio/antora-extensions/inject-collector-cache-config-extension'
    - '@antora/collector-extension'
    - 'antora/lib/version-fix.js'
    - '@antora/atlas-extension'
    - require: '@springio/antora-extensions/root-component-extension'
      root_component_name: 'data-elasticsearch'
site:
  title: Spring Data Elasticsearch
  url: https://docs.spring.io/spring-data/elasticsearch/reference
  robots: allow
git:
  ensure_git_suffix: false
content:
  sources:
    - url: https://github.com/spring-projects/spring-data-elasticsearch
      # Refname matching:
      # https://docs.antora.org/antora/latest/playbook/content-refname-matching/
      branches: [ main, '{5..9}.*({0..9}).x', '!5.0.x', '!5.1.x' ]
      tags: [ '({5..9}).+({0..9}).*', '!(5.0.*)', '!(5.1.*)','!5.2.0-M1','!5.2.0-M2' ]
      start_path: src/main/antora
    - url: https://github.com/spring-projects/spring-data-commons
      # Refname matching:
      # https://docs.antora.org/antora/latest/playbook/content-refname-matching/
      branches: [ main, 3.2.x ]
      start_path: src/main/antora
asciidoc:
  attributes:
    page-stackoverflow-url: https://stackoverflow.com/tags/spring-data-elasticsearch
    page-related-doc-categories: data
    page-related-doc-projects: framework,graphql
    hide-uri-scheme: '@'
    tabs-sync-option: '@'
  extensions:
    - '@asciidoctor/tabs'
    - '@springio/asciidoctor-extensions'
urls:
  latest_version_segment_strategy: redirect:to
  latest_version_segment: ''
  redirect_facility: httpd
ui:
  bundle:
    url: https://github.com/spring-io/antora-ui-spring/releases/download/v0.4.3/ui-bundle.zip
    snapshot: true
runtime:
  log:
    failure_level: warn
    format: pretty
